In [2]:
import pandas as pd
sd=pd.read_csv("Salary_dataset.csv")

In [3]:
sd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   years_exp  30 non-null     float64
 1   salary     30 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 608.0 bytes

In [4]:
sd.describe()

       years_exp         salary
count  30.000000      30.000000
mean    5.413333   76004.000000
std     2.837888   27414.429785
min     1.200000   37732.000000
25%     3.300000   56721.750000
50%     4.800000   65238.000000
75%     7.800000  100545.750000
max    10.600000  122392.000000

In [12]:
x=sd['years_exp']
y=sd['salary']

In [13]:
from sklearn.model_selection import train_test_split
import numpy as np